@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>

    <div class="row justify-content-center mt-xl-5">
        <div class="col-4">
            <h4 >Items in store</h4>

            <h4>

            </h4>
            @foreach (var item in ViewBag.Store)
            {
                <h4>@item.Key - @item.Value</h4>
            }
        </div>

        <div class="col-4">
            <h4 >Items Sold</h4>

            @foreach (var item in ViewBag.Sold)
            {
                    <h4>@item.Key - @item.Value</h4>
            }
        </div>

        <div class="col-4">
            <h4 >Items Borrowed</h4>

            @foreach (var item in ViewBag.Borrow)
            {
                    <h4>@item.Key - @item.Value</h4>
            }
        </div>
    </div>


    
</div>
